*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-1: #f2f2f2;
  --color-gray-2: #cccccc;
  --color-gray-3: #aaaaaa;
  --color-gray-8: #121212;

  --color-red: #d95c5c;
}

body {
  background-color: var(--color-black);
  color: var(--color-gray-3);
  line-height: 21px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 14px;
}

.no-padding {
  padding: 0 !important;
  margin: 0 -14px;
}

h1,
h2,
h3 {
  color: var(--color-white);
}

p {
  color: var(--color-gray-3);
  font-size: 12px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 0 23px;
  background-color: var(--color-black);
  transition: transform 1s ease-in-out;
}
.header.hidden {
  transform: translateY(-100%);
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color-white);
  font-size: 10px;
  font-weight: 400;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

/* Product Showcase */

.product-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 16px;
}

.product-showcase--col {
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.product-showcase--col .product-showcase__text {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-showcase--col .product-showcase__text p {
  text-align: center;
}

.product-showcase__text,
.product-showcase__image {
  flex: 1;
}

.product-showcase__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-showcase__image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.controller .product-showcase__image {
  width: 158px;
}

/* Intro Section */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 31px;
  margin: 50px 0;
}

.subscription-tickets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  color: var(--color-white);
}

.subscription-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 700;
}

.subscription-ticket img {
  width: 145px;
  height: auto;
}

.subscription-ticket .price-container {
  text-decoration: line-through;
  text-decoration-color: var(--color-red);
  text-decoration-thickness: 2px;
  font-size: 12px;
}

.subscription-ticket h3 {
  margin: 22px 0 10px 0;
}

/* Intro section - Package */

.package-container {
  width: 100%;
  max-width: 380px;
}

.package {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-8);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  padding: 18px;
  border-radius: 6px;
  gap: 18px;
}

.package .price,
.package .price ~ span {
  font-size: 12px;
  font-weight: 400;
}

.package .final-price,
.package .final-price ~ span {
  font-size: 14px;
  font-weight: 700;
}

.package__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.package__row:nth-child(1) .price {
  text-decoration: line-through;
  text-decoration-color: var(--color-red);
  text-decoration-thickness: 2px;
}

.discount-container {
  background-color: var(--color-red);
  font-size: 10px;
  padding: 0 17px;
  border-radius: 6px;
}

.purchase-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--color-white);
  color: var(--color-gray-8);
  padding: 12px 0px;
  border-radius: 6px;
  margin-top: 20px;
}

.purchase-btn img {
  width: 70px;
}

/* Player */

.player {
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  margin: 72px 0 60px 0;
}

.player img {
  width: 100%;
}

.player span {
  position: absolute;
  cursor: pointer;
}

/* Specification */

.specs-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-white);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  row-gap: 43px;
}

.spec-item {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.spec-item img {
  display: block;
  margin: 0 auto;
}

.spec-details {
  white-space: nowrap;
}

.product-showcase.controller {
  margin: 83px 0 60px 0;
}

/* Media Queries */

@media screen and (min-width: 640px) {
  .container {
    padding: 0 40px;
  }
  .no-padding {
    padding: 0 !important;
    margin: 0 -40px;
  }
  body {
    line-height: 24px;
  }
  p {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }
  .header {
    padding: 0 40px;
  }
  .nav__list {
    font-size: 12px;
  }
  .nav__item > a {
    padding: 29px 0;
  }

  .product-showcase--row-reverse.sm {
    flex-direction: row-reverse;
  }
  .product-showcase--row-reverse.sm .title,
  .product-showcase--row-reverse.sm .paragraph {
    text-align: start;
  }
  .product-showcase.controller {
    margin: 8px 0 36px 0;
  }
  .controller .product-showcase__image {
    flex: auto;
  }
  .controller .product-showcase__image {
    max-width: 280px;
  }
  .product-showcase__image.controller img {
    width: 100%;
  }
  .subscription {
    flex-direction: row;
    gap: 38px;
    margin: 66px 0 91px 0;
  }
  .subscription-ticket img {
    width: 128px;
  }
  .package-container {
    padding: 0;
  }
  .subscription-tickets-container {
    margin-top: 11px;
    flex-direction: column;
    padding: 0;
  }
  .subscription-ticket h3 {
    margin: 15px 0 4px 0;
  }
  .purchase-btn img {
    width: 80px;
  }

  /* features section */
  .specs-content {
    padding: 0 60px;
    row-gap: 40px;
  }
  .spec-details {
    font-weight: 700;
    font-size: 14px;
  }
  .spec-item img {
    width: 150px;
    height: auto;
  }
  .player {
    margin: 99px 0 61px 0;
  }
  .player img {
    height: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 150px;
  }
  .no-padding {
    padding: 0 !important;
    margin: 0;
  }
  body {
    line-height: 28px;
  }
  p {
    font-size: 16px;
    text-align: start;
  }

  .title {
    font-size: 20px;
    text-align: start;
    margin-bottom: 24px;
  }
  .header {
    padding: 0 42px;
  }

  .product-showcase--row {
    flex-direction: row;
  }
  .product-showcase--row-reverse {
    flex-direction: row-reverse;
  }
  .product-showcase__text {
    padding: 0;
  }
  .product-showcase__image {
    width: 580px;
  }

  .image-fix-right {
    margin-right: -300px;
    /* position: relative;
    right: -100px; */
  }
  .image-fix-right {
    min-width: 640px;
  }

  .product-showcase.controller {
    margin: 136px 0 76px 0;
  }
  .controller .product-showcase__image {
    max-width: 280px;
    margin-right: 120px;
  }
  .subscription {
    gap: 137px;
    align-items: flex-start;
    margin: 191px 0 100px 0;
  }
  .subscription-ticket img {
    width: 205px;
  }
  .subscription-tickets-container {
    flex-direction: row;
  }
  .subscription-ticket,
  .price-container {
    font-size: 14px;
  }
  .subscription-ticket h3 {
    font-weight: 400;
  }
  .subscription-ticket h3 {
    margin: 32px 0 12px 0;
  }

  .package {
    font-size: 16px;
  }
  .discount-container {
    font-size: 12px;
  }
  .purchase-btn {
    font-size: 14px;
    margin-top: 18px;
  }
  .purchase-btn img {
    width: 84px;
  }
  .player {
    margin: 120px 0 165px 0;
  }
  .player img {
    height: 500px;
  }

  /* features section */
  .specs-content {
    grid-template-columns: repeat(4, auto);
    max-width: none;
    padding: 0;
    row-gap: 0;
  }
  .spec-details {
    font-size: 16px;
  }
}
